@font-face {
  font-family: "MavenPro";
  src: url("./assets/fonts/MavenPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MavenPro";
  src: url("./assets/fonts/MavenPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "AbrilFatface";
  src: url("./assets/fonts/AbrilFatface-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: MavenPro;
}

body {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
a,
span {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5{
  font-family: AbrilFatface !important;
}
:root {
  --bg: #161b2e;
  --main-100: #01e694;
  --main-50: #01e6965e;
}
a {
  text-decoration: none;
  color: #fff;
}
::selection {
  background: var(--main-50);
  color: var(--bg);
}
