@font-face {
  font-family: "MavenPro";
  src: url("./assets/fonts/MavenPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MavenPro";
  src: url("./assets/fonts/MavenPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "AbrilFatface";
  src: url("./assets/fonts/AbrilFatface-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: MavenPro;
}

body {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
a,
span {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: AbrilFatface !important;
}
:root {
  --bg: #161b2e;
  --main-100: #01e694;
  --main-50: #01e6965e;
}
a {
  text-decoration: none;
  color: #fff;
}
::selection {
  background: var(--main-50);
  color: var(--bg);
}

/*------------------swiper js------------- */
.swiper-wrapper {
  display: flex;
  width: 80vw;
  height: 100%;
  /*transform: translate3d(0px, 0px, 0px) !important;*/
}
.swiper-container {
  height: 100%;
}
.swiper-slide-active {
  background-color: var(--main-50) !important;
}
.main-items.swiper-slide-active .title-top {
  transform: translateY(0px) !important;
  opacity: 1 !important;
}
.main-items.swiper-slide-active .sum-text {
  margin-top: 0px !important;
  opacity: 1 !important;
}
div.main-items.swiper-slide-active {
  width: calc(100% / 2.5) !important;
}
.main-items.swiper-slide-active .title-bottom {
  transform: translateY(100px);
  opacity: 0;
}
.main-items.swiper-slide-active .icon {
  animation: pulse 2s infinite;
}

@media screen and (max-width: 768px) {
  .swiper-wrapper {
    flex-direction: column;
    width: 100%;
  }
  div.main-items.swiper-slide-active {
    width: 100% !important;
    height: calc(100% / 2.5) !important;
  }
}
@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(108, 255, 132, 0.561);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(93, 211, 113, 0.561);
  }
}
